*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: #2222fe;
    color: #ffff;
    padding: 20px;
    text-align: center;
}
form{
    background-color: lightgray;
    width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}
input{
    padding: 6px;
    margin: 8px;
    border-radius: 3px;

}
#btn{
    background-color: #2222fe;
    color: white;
}
#btn:hover{
    background-color:white;
    color: #2222fe;
}

