*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

$cordefundo : #040714;
$cortextoprincipal: silver;
$corsecundaria : #f9f9f9;




@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $cortextoprincipal;
}
.text--big{
    @include text(18px)
}
.text--medium{
    @include text
}
.text--small{
    @include text(12px)
}

body{
    background-color: $cordefundo;
}

.hero{
    width: 500px;
    min-height: 100vh;
    background-image: url('../images/images/hero_desktop.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 200px;
    .logo{
          img{
            width: 600px;
        }
        
    }
    
    .assine{
        width: 500px;
        display: flex;
        align-items: center;
            
        .combo{
            width: 500px;
            padding: 30px;
            img{
             width: 100px;
             
             .btn{
                width: 300px;
                
             }
             }
             #star{
                width: 300px;
        }
       
      }
    }
   
    
}





